<h1>Contact</h1>
<hr>
<div>
  <h4><strong>Address: </strong></h4>
  <h5>555 Ruby Ln. Provo, Utah 84604</h5>
</div>
<br>
<div>
  <h4><strong>Phone: </strong></h4>
  <h5>(801)-455-5535</h5>
</div>
<br>
<div>
  <h4><strong>Email: </strong></h4>
  <h5>rubyhospital@gmail.com</h5>
</div>
<div class="center">
  <a href="mailto:joshterry55@gmail.com?subject=Website%20Feedback" class='btn blue darken-3'>Email Us</a>
</div>
