<h1 class="center">Ruby City Hospital</h1>
<hr>
<%= image_tag('hospital.jpeg', class: "responsive-img")%>
<div class='center'>
  <%= link_to "I'm a Patient", patients_path, class: 'btn blue darken-3' %>
  &emsp;&emsp;&emsp;
  <%= link_to "I'm a Doctor", doctors_path, class: 'btn blue darken-3' %>
</div>
<br>
<br>
