<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Ruby City Hospital</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Patient', patients_path %></li>
      <li><%= link_to 'Doctor', doctors_path %></li>
    </ul>
  </div>
</nav>
